<RantaUEditorConfig>
  <Image>
    <ActionName>uploadimage</ActionName>
    <FieldName>upfile</FieldName>
    <MaxSize>2048000</MaxSize>
    <AllowFiles>.png,.jpg,.jpeg,.gif,.bmp</AllowFiles>
    <CompressEnable>true</CompressEnable>
    <CompressBorder>1600</CompressBorder>
    <InsertAlign>none</InsertAlign>
    <UrlPrefix></UrlPrefix>
    <PathFormat>/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
  </Image>
  <Scrawl>
    <ActionName>uploadscrawl</ActionName>
    <FieldName>upfile</FieldName>
    <PathFormat>/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
    <MaxSize>2048000</MaxSize>
    <UrlPrefix></UrlPrefix>
    <InsertAlign>none</InsertAlign>
  </Scrawl>
  <Snapscreen>
    <ActionName>uploadimage</ActionName>
    <PathFormat>/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
    <UrlPrefix></UrlPrefix>
    <InsertAlign>none</InsertAlign>
  </Snapscreen>
  <Catcher>
    <LocalDomain>127.0.0.1,localhost,img.baidu.com</LocalDomain>
    <ActionName>catchimage</ActionName>
    <FieldName>source</FieldName>
    <PathFormat>/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
    <UrlPrefix></UrlPrefix>
    <MaxSize>2048000</MaxSize>
    <AllowFiles>.png,.jpg,.jpeg,.gif,.bmp</AllowFiles>
  </Catcher>
  <Video>
    <ActionName>uploadvideo</ActionName>
    <FieldName>upfile</FieldName>
    <PathFormat>/upload/video/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
    <UrlPrefix></UrlPrefix>
    <MaxSize>102400000</MaxSize>
    <AllowFiles>.flv,.swf,.mkv,.avi,.rm,.rmvb,.mpeg,.mpg,.ogg,.ogv,.mov,.wmv,.mp4,.webm,.mp3,.wav,.mid</AllowFiles>
  </Video>
  <UploadFile>
    <ActionName>uploadfile</ActionName>
    <FieldName>upfile</FieldName>
    <PathFormat>/upload/file/{yyyy}{mm}{dd}/{time}{rand:6}</PathFormat>
    <UrlPrefix></UrlPrefix>
    <MaxSize>51200000</MaxSize>
    <AllowFiles>.png,.jpg,.jpeg,.gif,.bmp,.flv,.swf,.mkv,.avi,.rm,.rmvb,.mpeg,.mpg,.ogg,.ogv,.mov,.wmv,.mp4,.webm,.mp3,.wav,.mid,.rar,.zip,.tar,.gz,.7z,.bz2,.cab,.iso,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.txt,.md,.xml</AllowFiles>
  </UploadFile>
  <ListImage>
    <ActionName>listimage</ActionName>
    <ListPath>/upload/image</ListPath>
    <ListSize>20</ListSize>
    <UrlPrefix></UrlPrefix>
    <InsertAlign>none</InsertAlign>
    <AllowFiles>.png,.jpg,.jpeg,.gif,.bmp</AllowFiles>
  </ListImage>
  <ListFile>
    <ActionName>listfile</ActionName>
    <ListPath>/upload/file</ListPath>
    <UrlPrefix></UrlPrefix>
    <ListSize>20</ListSize>
    <AllowFiles>.png,.jpg,.jpeg,.gif,.bmp,.flv,.swf,.mkv,.avi,.rm,.rmvb,.mpeg,.mpg,.ogg,.ogv,.mov,.wmv,.mp4,.webm,.mp3,.wav,.mid,.rar,.zip,.tar,.gz,.7z,.bz2,.cab,.iso,.doc,.docx,.xls,.xlsx,.ppt,.pptx,.pdf,.txt,.md,.xml</AllowFiles>
  </ListFile>
</RantaUEditorConfig>